<h1>FORMULARIO DE NUEVO USUARIO</h1>

<div class="new-user-form col-md-9">
    <div class="username form-group">
        <label>Username</label>
        <input type="text" class="form-control username-input" placeholder="Ingrese su username">
    </div>
    <div class="email form-group">
        <label>Email</label>
        <input type="text" class="form-control email-input" placeholder="Escriba su email">
    </div>
    <div class="phone form-group">
        <label>Phone</label>
        <input type="tel" class="form-control phone-input" placeholder="Escriba su telefono">
    </div>
    <div class="col-md-6">
        <button type="submit" class="btn btn-success save-new-user col-md-3">Enviar</button>

        <button type="submit" class="btn btn-primary save-edited-user">Guardar cambios</button>
        <button type="submit" class="btn btn-warning cancel-action">Cancelar</button>
    </div>
</div>