<h1>Crear una cuenta:</h1>

<div class="new-account-form col-md-9">
    <div class="username form-group">
        <label>Username</label>
        <input type="text" class="form-control username-input" placeholder="Username">
    </div>
    <div class="password form-group">
        <label>Password</label>
        <input type="password" class="form-control password-input" placeholder="Password">
    </div>
    <div class="cnfm-password form-group">
        <label>Confirmar password</label>
        <input type="password" class="form-control cnfm-password-input" placeholder="Confirm password">
    </div>
    <div class="col-md-6">
        <button type="submit" class="btn btn-success create-account col-md-5">Crear usuario</button>
    </div>
</div>