<h1>Crear una cuenta:</h1>

<form class="new-account-form col-md-9" name="signup-form">
    <div class="username form-group">
        <label>Username</label>
        <input type="text" name="username" class="form-control username-input" placeholder="Username" required minlength="4">
    </div>
    <div class="email form-group">
        <label>Email</label>
        <input type="email" name="email" class="form-control email-input" placeholder="Email" required>
    </div>
    <div class="phone form-group">
        <label>Phone</label>
        <input type="tel" name="phone" class="form-control phone-input" placeholder="Phone" required>
    </div>
    <div class="password form-group">
        <label>Password</label>
        <input type="password" name="password" minlength="5" class="form-control password-input" placeholder="Password" required>
    </div>
    <div class="cnfm-password form-group">
        <label>Confirmar password</label>
        <input type="password" name="cnfm_password" class="form-control cnfm-password-input" placeholder="Confirm password" required>
    </div>
    <div class="col-md-6">
        <button type="submit" class="btn btn-success create-account col-md-5">Crear usuario</button>
    </div>
</form>